# Terraform local state and modules
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
crash.log
.terraformrc
terraform.rc
*.zip

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/

# Operating System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
